:root {
  --textColor: #F8F8F8;
  --btnColor: #1F2229;
  --backgroundColor: #050809;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding:  0;
  font-size: 1em;
  font-family: "Neutrif Pro";
}
